language: cpp
env:
  global:
    - GIT_CURRENT_BRANCH=$(git branch | grep -P '^\*' | awk '{print $2}')
    - GIT_REMOTE_NAME=$(git remote)
    - GIT_REMOTE_FETCH_PATH=$(git remote --verbose | perl -ne "while(/^${GIT_REMOTE_NAME}(.*)\(fetch\)/g) { print \"$1\n\"; }" | xargs echo)
  matrix:
    - CONF=Debug   COMPILER=g++-4.9     COVERAGE=0 USE_BOOST_STRING_VIEW=0 USE_BOOST_REGEX=0 PUBLISH_DOCS=0
    - CONF=Debug   COMPILER=g++-4.9     COVERAGE=0 USE_BOOST_STRING_VIEW=1 USE_BOOST_REGEX=0 PUBLISH_DOCS=0
    - CONF=Release COMPILER=g++-4.9     COVERAGE=0 USE_BOOST_STRING_VIEW=0 USE_BOOST_REGEX=0 PUBLISH_DOCS=1
    - CONF=Release COMPILER=g++-4.9     COVERAGE=0 USE_BOOST_STRING_VIEW=0 USE_BOOST_REGEX=1 PUBLISH_DOCS=0
    - CONF=Release COMPILER=g++-4.9     COVERAGE=0 USE_BOOST_STRING_VIEW=1 USE_BOOST_REGEX=0 PUBLISH_DOCS=0
    - CONF=Release COMPILER=g++-4.9     COVERAGE=0 USE_BOOST_STRING_VIEW=1 USE_BOOST_REGEX=1 PUBLISH_DOCS=0
    - CONF=Release COMPILER=g++-4.8     COVERAGE=1 USE_BOOST_STRING_VIEW=0 USE_BOOST_REGEX=1 PUBLISH_DOCS=0
    - CONF=Release COMPILER=g++-4.8     COVERAGE=0 USE_BOOST_STRING_VIEW=0 USE_BOOST_REGEX=1 PUBLISH_DOCS=0
    - CONF=Release COMPILER=g++-4.8     COVERAGE=0 USE_BOOST_STRING_VIEW=1 USE_BOOST_REGEX=1 PUBLISH_DOCS=0
    - CONF=Release COMPILER=clang++-3.7 COVERAGE=0 USE_BOOST_STRING_VIEW=0 USE_BOOST_REGEX=0 PUBLISH_DOCS=0
    - CONF=Release COMPILER=clang++-3.7 COVERAGE=0 USE_BOOST_STRING_VIEW=0 USE_BOOST_REGEX=1 PUBLISH_DOCS=0
    - CONF=Release COMPILER=clang++-3.7 COVERAGE=0 USE_BOOST_STRING_VIEW=1 USE_BOOST_REGEX=0 PUBLISH_DOCS=0
    - CONF=Release COMPILER=clang++-3.7 COVERAGE=0 USE_BOOST_STRING_VIEW=1 USE_BOOST_REGEX=1 PUBLISH_DOCS=0
before_install:
  - sudo apt-add-repository --yes ppa:ubuntu-toolchain-r/test
  - sudo apt-add-repository --yes ppa:boost-latest/ppa
  - sudo add-apt-repository --yes ppa:libreoffice/ppa 
  - if [[ ${COMPILER} == *"clang"* ]]; then sudo sh -c 'echo "deb http://llvm.org/apt/precise/ llvm-toolchain-precise main" >> /etc/apt/sources.list'; fi
  - sudo apt-get update
install:
  - sudo apt-get install --yes --force-yes libboost1.55-all-dev cmake
  - if [[ ${COMPILER} != *"clang"* ]]; then sudo apt-get install --yes --force-yes ${COMPILER}; fi
  - if [[ ${COMPILER} == *"clang"* ]]; then sudo apt-get install --yes --force-yes clang-3.7;   fi
  - if [[ ${COVERAGE} -eq 1 ]];        then  sudo pip install cpp-coveralls pyyaml;             fi
script:
  - ${COMPILER} --version
  - cmake -DCMAKE_CXX_COMPILER=${COMPILER}
          -DCMAKE_BUILD_TYPE=${CONF}
          -DUSE_BOOST_REGEX=${USE_BOOST_REGEX}
          -DUSE_BOOST_STRING_VIEW=${USE_BOOST_STRING_VIEW}
          -DCOVERAGE=${COVERAGE}
  - make VERBOSE=1
  - ./jsonv-tests
  - if [[ ${COVERAGE} == 1 ]]; then ./config/upload-coverage; fi
after_success:
  - if [[ ${PUBLISH_DOCS} == 0 ]]; then                           echo "Skipping documentation publishing due PUBLISH_DOCS=${PUBLISH_DOCS}";                   exit 0; fi
  - if [[ $(git rev-parse --abbrev-ref HEAD) != "master" ]]; then echo "Skipping documentation publishing due to non-master branch ${GIT_CURRENT_BRANCH}";     exit 0; fi
  - if [[ -e $(${GIT_REMOTE_FETCH_PATH} | grep tgockel) ]]; then  echo "Skipping documentation publishing due to non-tgockel remote ${GIT_REMOTE_FETCH_PATH}"; exit 0; fi
  - sudo apt-get install --yes doxygen graphviz
  - openssl aes-256-cbc
    -K $encrypted_da53dd2710a4_key
    -iv $encrypted_da53dd2710a4_iv
    -in  config/travisci_rsa.enc
    -out config/travisci_rsa
    -d
  - chmod 0600 config/travisci_rsa
  - cp config/travisci_rsa ~/.ssh/id_rsa
  - ./config/publish-doxygen
